@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  height: 110vh;

  background-image: url("assets/images/bg.jpg");
  background-size: max(1200px, 120vw);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 50% 85%;
  position: relative;
}

.box {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  margin: 0 auto;
  padding: 20px;
  height: 62px;
}



nav img {
  width: 140px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 102px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-family: "Poppins", sans-serif;
  gap: 10px;

}


.hero> :first-child {
  font-weight: 700;
  font-size: 44px;
}

.hero> :nth-child(2) {
  font-size: 20px;
  font-weight: 300;
}

.hero> :nth-child(3) {
  font-size: 18px;
  font-weight: 300;
}

.separation {
  height: 7px;
  background-color: gray;
  position: relative;
  z-index: 10;
}

.btn {
  padding: 5px 30px;
  background-color: rgba(23, 23, 23, 0.5);
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  margin-right: 20px;
}

.btn-red-sm {
  padding: 5px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 10px 26px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main input {
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 165px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgba(23, 23, 23, 0.5);
  margin-right: 5px;
  font-weight: 500;
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: auto;
  color: white;
  height: 550px;
}



.sec-img {
  position: relative;

}

.sec-img img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.sec-img video {
  top: 87px;
  left: 79px;
  width: 396px;
  position: absolute;
}


.first>div :first-child {
  font-size: 48px;
  font-weight: bolder;
}

.first>div :nth-child(2) {
  font-size: 24px;
}

.first>div {
  display: flex;
  flex-direction: column;
}

.third {
  position: relative;

}

.third img {
  width: 500px;
}

.third video {
  width: 300px;
  height: 500px;
  position: absolute;
  top: -130px;
  right: 105px;
}



.faq h2 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.faq-item:hover {
  background-color: #414141;
  color: white;
}

.faq-item {
  background-color: #2d2d2d;
  max-width: 70vw;
  margin: 10px auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 25px;
  cursor: pointer;
}

footer {
  color: rgba(255, 255, 255, 0.7);
  max-width: 70vw;
  margin: auto;
  margin-top: 45px;
  height: 55vh;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.footer-item a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

footer span {
  font-size: 14px;
}

@media screen and (max-width:1000px) {
  .first {
    flex-wrap: wrap;
  }

  .hero {
    padding: 0px 35px;
    text-align: center;
  }

  .hero> :first-child {
    font-size: 32px;
  }

  .hero> :nth-child(2) {
    font-size: 18px;
  }

  .hero div {
    text-align: center;
  }

  .main {
    max-height: 65vh;
  }

  .sec-img img {
    width: 342px;
  }

  .sec-img video {
    width: 250px;
    top: 52px;
    left: 47px;
  }

  nav {
    max-width: 90vw;
  }

  .first>div :first-child {
    font-size: 32px;
  }

  .first>div :nth-child(2) {
    font-size: 18px;
  }

  .third video {
    top: 0;
    left: 57px;
    height: 178px;
    width: 218px;
  }

  .faq h2 {
    font-size: 32px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer {
    max-width: 90vw;
    margin: auto;
   margin-top: 20px;
  }
  .footer-item{
    gap :18px;
  }
}
